---
import Layout from "../layouts/Layout.astro";
import Footer from "../layouts/Footer.astro";
import '../Styles/stylesheet.css';
---

<Layout title = 'contact us'>
    <h1>This is the H1</h1>
    <main>
    <div class="container-fluid">

    <!-- THE START OF SECTION 1  -->
    <section>
            <div class="row">
                <div class="service-sec1">
                    <div class="col-sm-12 rounded-lg float-end contactUs-form">
                        <form action="/action_page.php">
                        <div class="form-group">
                          <label for="name">Name</label>
                          <input class="form-control" type="text" id="inputName" placeholder="Enter your name">
                        </div>
                  
                        <div class="form-group">
                          <label for="email">Email</label>
                          <input class="form-control" type="email" id="inputEmail" placeholder="Enter your Email">
                        </div>
                  
                        <div class="form-group">
                          <label for="pwd">Password</label>
                          <input class="form-control" type="tel" id="inputPassword" placeholder="Enter your phone number">
                        </div>
                  
                        <div class="form-group">
                          <label for="request">Request</label>
                          <select class="form-control custom-select custom-select-md" id="selectRequest">
                            <option selected>Please Choose</option>
                            <option value="speak-to-sales-team">Speak to Sales Team</option>
                            <option value="request-for-website-audit">Request for Website Audit</option>
                            <option value="general-inquiry">General Inquiry</option>
                          </select>
                        </div>
                  
                        <div class="form-group">
                          <label for="msg">Message</label>
                          <input class="form-control" type="text" id="inputMsg" placeholder="Kindly enter your text here">
                        </div>
                  
                        <button type="submit" class="btn btn-light contactUs-form-btn">Submit</button>
                      </form>
                      </div>

                    

                    <div class="col-sm-3 contact-us-title">
                        <h1>Contact Us</h1>
                        <blockquote>Let's discuss your digital marketing needs.</blockquote>
                    </div>

                </div>
                
            </div>
    </section>     <!-- THE START OF SECTION 1  -->


<!-- THE START OF SECTION 2 -->
    <section class="contactUs-sec2">
        <div class="container">
            <div class="row justify-content-between">
                <div class="col-sm-4 mx-auto contactUs-sec2-text">
                    <h5>Ready to expand your online presence?</h5>
                    <blockquote>Complete our form, and we'll furnish you with a free evaluation of your website and analytics. Discover new opportunities to boost your digital success.</blockquote>
                </div>

                <div class="col-sm-4 float-end contactUs-sec2-img">

                  <img src="whatsapp-logo.png" class="rounded" alt="Cinque Terre" height="50px">

                  <blockquote>You can also contact us on whattsapp on +971 52 824 4571</blockquote>

                </div>
                
            </div>
        </div>
    </section>









</div>
  </main>
</Layout>

<Footer />