---
import '../Styles/stylesheet.css';
import 'bootstrap/dist/css/bootstrap.css'
import Layout from "../layouts/Layout.astro";
import backgroundImage from '../components/Images/Cover Image.png';
// import './indexStyle.css'; // Import your external CSS file
import '../Styles/indexStyle.css';
---

<Layout title="index">
	<!-- <h1>Hello World</h1> -->
	<div class="content background-container">
		<div class="row justify-content-start align-items-start g-2 cover-img">
		  <div class="col-sm-8 ">
		  <h1 >FATIMA MARKETING</h1>
		  </div>
		  <div class="col-sm-12">
		  <p > Igniting Growth, Maximizing Reach</p>
		  </div>
		</div>
	</div>
  </div>
</div>
</section>


</Layout>
